body{
    margin: 0;
    background-color: green;
}
.topo{
    background-color: rgb(56, 82, 56);
}
.imgemlogo{
    height: 180px;
    margin-left: 600px;
    margin-top: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
    
}
.imgemlogoi{
    width: 350px;
    margin-left: 300px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.redes{
    height: 100px;
    height: 100px;
    margin-left: 550px;
    margin-right: 10px;
    
}
.titulo{
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: optima;
    text-decoration: underline;
   
}
.mapa{
    width: 600px; 
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 640px;
    margin-right: auto;
    
    
   
}
.subititulo{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255) ;
    font-size: 35px;
}
h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 45px;
    text-decoration: underline;
    line-height: 2px;
    margin-top: 100px;
    margin-bottom: 50px;


}
ul{
    text-align: center;
}
li{
    list-style: none;
    font-size: 25px;
    line-height: 45px;
    color: rgb(255, 255, 255);   
}
.dias{
    background-color: rgb(23, 104, 30);
    padding: 5px 6px;
    border-radius: 5px;
    line-height: 70px;
}


@media(max-width: 1366px){
    .imgemlogo{
    width: 300px;
    height: 200px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 18px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    }
    .imgemlogoi{
         width:500px;
        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
    .titulo{
        font-size: 50px;
    }
    .mapa{
        margin-left: 390px;
    }
    .subititulo{
        font-size: 30px;
        margin-right: 50px;
        color: white;
    }
    .redes{
        
        height: 90px;
        margin-left: 370px;
        margin-right: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    h3{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 40px;
        text-decoration: underline;
        line-height: 2px;
    }
    .dias{
        font-size: 20px;
        margin-right: 45px;
        margin-left: 0;
    }

}
@media (max-width: 1024px){
    .imgemlogo{
        height: 180px;
        width: 310px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 18px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    }
    .imgemlogoi{
        height: 120px;
        width: 325px;
        margin-left: 19px;
        margin-top: 20px;
        margin-bottom: 0px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
    }
    .titulo{
        font-size: 30px;
    }
    .mapa{
        display: none;
    }
    .subititulo{
        font-size: 20px;
    }
    .redes{
        
        height: 90px;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    h3{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 30px;
        text-decoration: underline;
        line-height: 2px;
    }
    .dias{
        font-size: 15px;
        margin-right: 45px;
        margin-left: 0;
    }

}    
